* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dashed;

}

.debug {

    .header-container {
        background-color: aqua;
    }

    .left,
    .center,
    .right {
        background-color: orange;
    }

    .jumbotron {
        background-color: blue;
    }

    .j-content {
        background-color: pink;
    }

    .s-big {
        background-color: lightskyblue;
    }

    .s-small {
        background-color: pink;
    }

    .s-very-big {
        background-color: green;
    }

    .container-footer {
        background-color: aquamarine;
    }

    .m-div {

        min-height: 500px;

    }

    .s-very-big {
        min-height: 900px;
    }

    .center {
        min-height: 40px;
    }

    .j-content {
        min-height: 400px;
    }

    .container-footer {

        min-height: 80px;
    }

    .w-30 {
        background-color: brown;
        min-height: 500px;
    }

    .w-70 {
        background-color: greenyellow;
        min-height: 500px;

    }

    .w-25 {

        min-height: 500px;
    }

}

.header-container {
    padding: 1%;
}

.container {

    display: flex;
    justify-content: center;

}

.left {
justify-content: start;
align-items: center;
}

.right {
    align-items: center;
    justify-content: end;
}
.left,
.right {
    width: 20%;

}

.center {
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.jumbotron {

    display: flex;
    justify-content: center;
    padding-block: 5%;

}

.j-content {
    
    min-width: 60%;

}

.s-big {

    width: 60%;

}

.s-small {
    width: 40%;

}

.section-class {

    padding: 5% 15%;

}

.s-very-big {
    width: 100%;
}

.container-footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 2%;

}

footer {

    border-top: 1px solid grey;
    background-color: black;
}

.background-dark {

    background-color: grey;
}

.w-25 {

    width: 25%;
}

.w-30 {

    width: 30%;

}

.w-70 {

    width: 70%;
}

#adventure {

    background-color: black;
    padding-top: 1%;
    padding-bottom: 3%;

}